html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
}

p {
    color: white;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#name {
    font-size: 3em;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}